<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 *ngIf="group">Grupo seleccionado: {{group.name}}</h3>
  <button ion-button small>Cambiar de grupo</button>
  <div *ngIf="group">
    <ion-card *ngFor="let account of group.accounts">

      <ion-card-header>
        {{account.name}}
      </ion-card-header>

      <ion-card-content>
        Balance ${{account.total}}
      </ion-card-content>

    </ion-card>
  </div>
  <div>
    <button (click)="goToIncome()" ion-button outline>Income</button>
    <button (click)="goToExpense()" ion-button >Expense</button>
  </div>
</ion-content>
